*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.claude
DEVELOPMENT_PLAN.md
Jok_019_N
Jok_019_N_elem
.idea/vcs.xml
Grand Theatre
